<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/error.css" />
    <title>404 - Page Not Found</title>
</head>
<body>
    <div class="error-wrap">
        <div class="error-html">
            <div class="error-message">
                <h1>Ooops!<h1>
                <h1>Are you lost, baby girl?</h1>
                <p>Sorry, the page you are looking for does not exist.</p>
            </div>
            <div class="back-to-login">
                <a href="/" class="button">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>
