<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/error.css" />
    <title>Error</title>
</head>
<body>
    <div class="error-wrap">
        <div class="error-html">
            <div class="error-message">
                <h1>No Lists Available</h1>
                <p>It seems no user is logged in or there are no lists to display.</p>
            </div>
            <div class="back-to-login">
                <a href="/" class="button">Back to Login</a>
            </div>
        </div>
    </div>
</body>
</html>